plugins:
  packages:
    - ccx_rules_ocp.external.dvo
service:
  extract_timeout:
  extract_tmp_dir:
  format: ccx_ocp_core.core.formats.json.OCPRecommendationsJsonFormat
  target_components: []
  consumer:
    name: ccx_messaging.consumers.kafka_consumer.KafkaConsumer
    kwargs:
      incoming_topic: ${CDP_INCOMING_TOPIC}
      platform_service: ${CDP_PLATFORM_SERVICE}
      group.id: ${CDP_GROUP_ID}
      bootstrap.servers: ${CDP_CONSUMER_SERVER}
      platform_service: openshift
      processing_timeout_s: 0
      max.poll.interval.ms: 600000
      heartbeat.interval.ms: 10000
      session.timeout.ms: 20000
      dead_letter_queue_topic: ${CDP_DEAD_LETTER_QUEUE_TOPIC}

  downloader:
    name: ccx_messaging.downloaders.http_downloader.HTTPDownloader
    kwargs:
      max_archive_size: 100MiB
      allow_unsafe_links: ${ALLOW_UNSAFE_LINKS}

  engine:
    name: ccx_messaging.engines.ocp_engine.OCPEngine

  publisher:
    name: ccx_messaging.publishers.dvo_metrics_publisher.DVOMetricsPublisher
    kwargs:
      outgoing_topic: ${CDP_OUTGOING_TOPIC}
      bootstrap.servers: ${CDP_PUBLISHER_SERVER}
      compression: gzip

  watchers:
    - name: ccx_messaging.watchers.stats_watcher.StatsWatcher
    - name: ccx_messaging.watchers.cluster_id_watcher.ClusterIdWatcher
    - name: ccx_messaging.watchers.payload_tracker_watcher.PayloadTrackerWatcher
      kwargs:
        bootstrap.servers: ${CDP_CONSUMER_SERVER}
        topic: ${PAYLOAD_TRACKER_TOPIC}
        service_name: dvo-extractor

  logging:
    version: 1
    disable_existing_loggers: false
    handlers:
      default:
        level: ${LOGLEVEL_STDOUT:-DEBUG}
        class: logging.StreamHandler
        stream: ext://sys.stdout
        formatter: json
    formatters:
      brief:
        format: "%(message)s"
      json:
        (): "pythonjsonlogger.jsonlogger.JsonFormatter"
        format: "%(filename)s %(lineno)d %(process)d %(levelname)s %(asctime)s %(name)s %(message)s"
      cloudwatch:
        format: "%(filename)s %(levelname)s %(asctime)s %(name)s %(hostname)s %(mac_address)s %(message)s"
    root:
      level: ${LOGLEVEL_ROOT:-WARNING}
      handlers:
        - default
    loggers:
      insights_messaging:
        level: ${LOGLEVEL_INSIGHTS_MESSAGING:-DEBUG}
      ccx_messaging:
        level: ${LOGLEVEL_CCX_MESSAGING:-DEBUG}
      insights:
        level: ${LOGLEVEL_INSIGHTS:-WARNING}
      dvo_extractor:
        level: ${LOGLEVEL_DVO_EXTRACTOR:-DEBUG}
